alembic
hiredis
redis
PyTumblr
SQLAlchemy
classtools
sentry-sdk
psycopg2cffi; platform.python_implementation == "PyPy"
psycopg2; platform.python_implementation != "PyPy"
asyncpg
beautifulsoup4
aiofiles
